<template name="usuarios">
	{{#contentFor "headerTitle"}}
		<h1 class="title"  style="text-align:center;">Usuarios</h1>
	{{/contentFor}}
    {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
  {{/contentFor}}
	{{#contentFor "headerButtonRight"}}
    <a class="button button-clear" href="/login">Login</a>
	{{/contentFor}}
	{{#ionView}}
		{{#ionContent}}  
			{{#ionList}}
			{{#each lista}}
				{{#ionItem}}
				{{ profile.name }}  - {{ roles }}         				
				{{/ionItem}}
			{{/each}}
			{{/ionList}}
  		{{/ionContent}}
	{{/ionView}}
</template>